* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    min-height: 100dvh;
    text-align: justify;
}

p {
    font-size: 1.5rem;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
}

.container {
    color: black;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    overflow: hidden;
}

/* Header */
header {
    height: 10vh;
    min-width: max-content;
    background-color: rgba(0, 0, 0, 0.90);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5000;
}

h1 {
    font-size: 2.5em;
    color: white;
    font-family: "Times New Roman", serif;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-top: 4px;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
}

.nav-links li a:hover {
    background-color: #5c5c5c;
    border-radius: 5px;
}

.powered-by {
    font-size: 13px;
    color: rgb(223, 223, 223);
    margin-top: 2px;
    text-align: center;
}

@media (max-width: 768px) {
    .powered-by {
        font-size: 10px;
    }
}

.nav-links .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 160px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 10px 0;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow-x: hidden;
    max-width: calc(100vw - 20px);
}

.nav-links .dropdown .dropdown-menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-links .dropdown .dropdown-menu li a {
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
    z-index: 9999;
}

.nav-links .dropdown .dropdown-menu li a:hover {
    background-color: #5c5c5c;
    border-radius: 5px;
}

.nav-links .dropdown:hover .dropdown-menu {
    display: block;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        z-index: 10;
        text-align: center;
    }

    .nav-links.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .nav-links li a {
        font-size: 20px;
        padding: 20px;
    }

    .nav-links .dropdown .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        list-style-type: none;
    }
}

@media (max-width: 768px) {
    .nav-links .dropdown .dropdown-menu {
        width: 100%;
    }
}

/* Hero Section */
.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 8rem 2rem;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0;
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: brightness(70%);
}

.hero.terms::before {
    background-image: url('../static/car_terms.jpg');
}

.hero.sell::before {
    background-image: url('../static/car_sell.jpg');
}

.hero.policy::before {
    background-image: url('../static/policy.webp');
}

.hero.faq::before {
    background-image: url('../static/faq.jpg');
}

.hero.service::before {
    background-image: url('../static/over_all_mantainance.webp');
}

.hero h1 {
    color: white;
    font-size: 2.5rem;
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.3s;
}

.hero h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    z-index: 1;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.5s;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: fade 1s ease forwards;
    animation-delay: 1s;
}

@media (max-width: 768px) {
    .hero {
        padding: 6rem 1.5rem;
        height: 60vh;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero h2 {
        font-size: 1.2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 4rem 1rem;
        height: 70vh;
    }

    .hero h1 {
        font-size: 1.8rem;
    }

    .hero h2 {
        font-size: 1rem;
    }

    .hero p {
        font-size: 0.9rem;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    scroll-behavior: smooth;
}

.submit-btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    margin: 20px auto;
}

.submit-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

/* Featured image */
.slideshow-container {
    position: relative;
    height: 91vh;
    max-width: 100vw;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}

.responsive-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(60%);
    z-index: -30;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 3;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.90);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f3f2f2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: rgba(0, 0, 0, 0.90);
}

/* VIN Form container */
.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 0;
    width: 55%;
    max-width: 4000px;
    opacity: 0;
    animation: fadeIn 1.3s forwards;
}

@media (min-width: 2000px) {
    .form-container {
        width: 55%;
    }
}

@media (max-width: 1200px) {
    .form-container {
        width: 70%;
    }
}

@media (max-width: 700px) {
    .form-container {
        width: 85%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.form-container.hide {
    animation: fadeOut 0.5s forwards;
}

form p {
    font-size: 1em;
    text-align: center;
    color: white;
    margin: 5px 0;
    padding: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

form .form-group label {
    font-size: 1em;
    display: block;
    margin-bottom: 8px;
}

form p:nth-of-type(1) {
    font-size: calc(1rem + 1.5vw);
    color: white;
}

form p:nth-of-type(2) {
    font-size: calc(0.9rem + 1.2vw);
    color: white;
}

form p:nth-of-type(3) {
    font-size: calc(0.8rem + 1vw);
    color: whitesmoke;
}

@media (max-width: 600px) {
    form p:nth-of-type(1) {
        font-size: calc(1rem + 1.5vw);
        color: white;
    }

    form p:nth-of-type(2) {
        font-size: calc(0.9rem + 1.2vw);
        color: white;
    }

    form p:nth-of-type(3) {
        font-size: calc(0.8rem + 1vw);
        color: whitesmoke;
    }

    .form-group,
    .form-group-right {
        margin-bottom: 8px;
        width: 100%;
    }

    .form-group input,
    .form-group-right input {
        width: 100%;
        padding: 6px;
        border: 1px solid white;
        border-radius: 4px;
        font-size: 14px;
    }

    .form-group label,
    .form-group-right label {
        font-size: 18px;
    }

    .custom-line {
        width: 90%;
        margin: 8px 0;
    }
}

form {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: medium;
}

.form-group,
.form-group-right {
    margin-bottom: 10px;
    width: 100%;
}

.form-group input,
.form-group-right input {
    width: 100%;
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
}

.form-group label,
.form-group-right label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px !important;
    color: white;
}

.custom-line {
    align-self: center;
    border: none;
    border-top: 2px solid white;
    width: 80%;
    margin: 10px 0;
    max-width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}

@media (max-width: 1200px) {
    .featured-text {
        font-size: 2.5vw;
    }
}

@media (max-width: 800px) {
    .featured-text {
        font-size: 3vw;
    }
}

@media (max-width: 500px) {
    .featured-text {
        font-size: 4vw;
        right: 2%;
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Partners Section */
.partners-section {
    padding: 60px 20px;
    text-align: center;
    position: relative;
}

.partners-section .section-title {
    font-size: 32px;
    font-weight: bold;
    color: #222;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.partners-slider {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
    scrollbar-width: thick;
    scrollbar-color: #969696 transparent;
    scroll-snap-type: x mandatory;
    align-items: center;
}

.partners-slider::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
}

.partners-slider::-webkit-scrollbar-thumb {
    background-color: #969696;
    border-radius: 5px;
}

.partner {
    flex: 0 0 auto;
    padding: 15px;
    border-radius: 50px;
    scroll-snap-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partner:hover {
    transform: scale(1.1);
}

.partner-logo {
    width: 150px;
    height: 100px;
    filter: grayscale(100%);
    opacity: 0.8;
    transition: filter 0.5s ease, opacity 0.2s ease;
}

.partner-logo:hover {
    filter: grayscale(0%);
    opacity: 1;
    transition: filter 0.5s ease, opacity 0.2s ease;
}

@media (max-width: 768px) {
    .partners-slider {
        gap: 15px;
    }

    .partner-logo {
        width: 120px;
    }
}

@media (max-width: 480px) {
    .partner-logo {
        width: 100px;
    }
}

/* Premium Plan */
.premium-plan-section {
    margin: 30px auto;
    padding: 80px 20px;
    text-align: center;
    color: rgb(27, 27, 27);
}

#paypal-container {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

#paypal-container p{
    color: black;
    font-size: medium;
}

@media (max-width: 600px) {
    #paypal-container {
        max-width: 100%;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .content-box h2 {
        font-size: 2em;
    }

    .content-box p {
        font-size: 1em;
    }

    .pay-now-btn {
        font-size: 1em;
        padding: 12px 25px;
    }
}

/* PayPal Buttons */
#paypal-button-container,
#paypal-container-LMVM7323VLA54 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

#paypal-container-LMVM7323VLA54 {
    font-size: 1.1em;
    color: #333;
    text-align: center;
}

@media (max-width: 768px) {

    #paypal-button-container,
    #paypal-container-LMVM7323VLA54 {
        padding: 15px;
        margin: 15px auto;
        max-width: 90%;
    }

    #paypal-container-LMVM7323VLA54 {
        font-size: 1em;
    }
}

@media (max-width: 480px) {

    #paypal-button-container,
    #paypal-container-LMVM7323VLA54 {
        padding: 10px;
        margin: 10px auto;
        max-width: 95%;
    }

    #paypal-container-LMVM7323VLA54 {
        font-size: 0.9em;
    }
}

/* Car Sell Form */
.sell-form-section {
    padding: 4rem 2rem;
    background-color: white;
    max-width: 800px;
    margin: 10vh auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: black;
    font-weight: bold;
    margin: 15px 0;
    font-size: large;
}

input,
textarea {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

/* Services - Home */

.section {
    display: flex;
    align-items: center;
    margin: 40px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section:nth-child(even) {
    flex-direction: row-reverse;
}

.text {
    flex: 1;
    padding: 20px;
    text-align: justify;
}

.image {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
}

/* Mobile View */
@media (max-width: 768px) {
    .section {
        flex-direction: column !important;
    }

    .image {
        margin-top: 20px;
    }

    .text,
    .image {
        width: 100%;
    }

    .image img {
        max-width: 100%;
        height: auto;
    }
}

/* Services Container */

.services-section {
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 50px;
    padding: 10px;
}

.service-box {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.service-box:hover {
    transform: translateY(-7px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.service-icon {
    font-size: 55px;
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.9);
}

.service-title {
    font-size: 26px;
    font-weight: bold;
    color: #272727;
    margin-bottom: 20px;
}

.service-desc {
    color: #555;
    line-height: 1.8;
    flex-grow: 1;
    margin-bottom: 30px;
}

.service-action {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 14px 35px;
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

.service-action:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .services-section {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .service-box {
        padding: 20px;
    }

    .service-title {
        font-size: 22px;
    }

    .service-desc {
        font-size: 16px;
    }

    .service-action {
        font-size: 16px;
        padding: 10px 20px;
    }
}

/* Mission Section */
.mission-section {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    font-size: 36px;
    color: #333;

    margin-bottom: 40px;
    font-weight: bold;
}

.mission-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.mission-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.mission-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mission-item h3 {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 15px;
}

.mission-item p {
    font-size: 19px;
    color: #555;
    line-height: 1.6;
}

.services-section img {
    display: none;
}

@media (max-width: 768px) {
    .services-section {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .service-box {
        padding: 15px;
    }

    .service-title {
        font-size: 20px;
    }

    .section-title {
        font-size: 22px;
    }

    .service-desc {
        font-size: 14px;
    }

    .service-action {
        padding: 8px 20px;
        font-size: 14px;
    }

    .section-title {
        font-size: 28px;
    }

    .mission-item h3 {
        font-size: 24px;
    }

    .mission-item p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .service-box {
        padding: 10px;
    }

    .service-title {
        font-size: 18px;
    }

    .section-title {
        font-size: 20px;
    }

    .service-desc {
        font-size: 14px;
    }

    .service-action {
        font-size: 14px;
    }

    .section-title {
        font-size: 24px;
    }

    .mission-item h3 {
        font-size: 20px;
    }

    .mission-item p {
        font-size: 14px;
    }
}

/* Contact Us */
.contact-section {
    padding: 60px 20px;
    background-color: #fff;
    opacity: 0;
    animation: fadeIn 1.8s ease forwards;
}

.contact-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: slideIn 0.9s ease forwards;
}

.contact-form-container {
    width: 60%;
    opacity: 0;
    animation: slideInFromLeft 0.8s ease forwards;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.5s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
}

.submit-btn {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.90);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.submit-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(-2px);
}

.contact-info {
    width: 35%;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: slideInFromRight 2.5s ease forwards;
}

.contact-info h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 24px;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info i {
    margin-right: 12px;
    color: rgba(0, 0, 0, 0.90);
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-form-container,
    .contact-info {
        width: 100%;
    }
}

.contact-info a {
    display: block;
    text-decoration: underline;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #007bff;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(20px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* FAQs */
.faq-container {
    margin: 8vh 10vw;
    padding: 2rem;
}

.faq-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.faq-item {
    background-color: #f9f9f9;
    margin-bottom: 2rem;
}

.faq-item.active {
    background-color: #eeeeee;
    border: solid;
    border-radius: 8px;
    border-color: #eeeeee;
}

.faq-item h3 {
    font-size: 1.4rem;
    color: #292929;
    cursor: pointer;
    margin-bottom: 1rem;
    position: relative;
    background-color: #f4f4f4;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

.faq-item.active h3 {
    color: #0056b3;
    background-color: #eeeeee;
}

.faq-item h3::after {
    content: "+";
    font-size: 1.8rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.3s;
    border: none;
}

.faq-item.active h3::after {
    transform: rotate(45deg);
}

.faq-item p {
    color: #555;
    display: none;
    line-height: 1.8;
    padding-left: 1.5rem;
    background-color: #f9f9f9;
    padding: 0.5rem;
    border-radius: 5px;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    border: none;
}

.faq-item.active p {
    display: block;
    opacity: 1;
    color: #444;
    background-color: #eeeeee;
}

.faq-item.active p {
    display: block;
}

.faq-item h3:hover {
    color: #007bff;
}

@media (max-width: 768px) {
    .faq-container {
        margin: 5vh 5vw;
        padding: 1.5rem;
    }

    .faq-container h2 {
        font-size: 2rem;
    }

    .faq-item h3 {
        font-size: 1.6rem;
    }

    .faq-item p {
        font-size: 1.3rem;
    }
}

.faq-item h3 {
    font-size: 1.4rem;
    color: #292929;
}

.faq-item p {
    color: #555;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.90);
    padding: 40px 20px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.footer-section {
    flex: 1;
    min-width: 150px;
    margin-bottom: 20px;
}

.logo-description {
    flex: 1;
    min-width: 250px;
    margin-right: 25px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links li a {
    color: #bbb;
    text-decoration: none;
    font-size: 14px;
}

.footer-links li a:hover {
    color: #dddddd;
    text-decoration: underline;
}

.footer-socials {
    margin-top: 20px;
}

.footer-social-icon {
    color: white;
    margin-right: 15px;
    font-size: 25px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    color: #bbb;
}

.footer-bottom a {
    color: #bbb;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 30px;
    }
}

footer .powered-by {
    font-size: 15px;
    color: #bbb;
    margin-top: 5px;
    pointer-events: none;
    user-select: none;
    cursor: default;
}